@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}

.home-main-section {
  justify-content: center;
}

body {
  padding: 0;
  margin: 0;
  background-image: url('./image/background-img3.jpg');

  font-family: 'Amaranth', sans-serif;
  font-size: 1.2rem;
  color: black;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}


.logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.logo-name {
  margin-left: 1rem;
}

.main-nav ul,
.footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a,
.footer-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;

}

.main-header,
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;

}

.main-header {
  height: 50px;
}



.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 0.5rem;
  margin-top: 0;
  align-self: center;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.btn {
  color: black;
  background-color: white;
  padding: 1rem 1rem;
  border-radius: 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  align-self: center;
}

.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}

.home-main-section {
  justify-content: center;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section {
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.main-section>div {
  background-color: white;
  width: 70%;
  margin: 0 auto;
  border-radius: 5%;
}

.main-section>div>p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.main-section>div>h1 {
  text-align: center;
  border-bottom: 3px solid lightblue;
  width: 50%;
  margin: 0 auto;
  margin-top: 15px;
}